.banner-section {
    position: relative;
    .bg {
        width: 100%;
        // height: 100%;
        padding-bottom: 39%;
        background: url(~@/assets/images/login_bg.jpg) center/cover no-repeat;
        position: absolute;
        top: 0;
        left: 0;
    }
    .container {
        position: relative;
        padding-top: $headH-pc;
        @media (max-width: 991px) {
            padding-top: $headH-mo + 20px;
        }
    }
    .section-title {
        justify-content: center;
        margin-top: 3.5vw;
        margin-bottom: 7vw;
    }
}
.form-section {
    position: relative;
    padding-bottom: 30px;
    &::after {
        content: "";
        width: 100%;
        height: 300px;
        background: linear-gradient(0deg, rgba(255, 251, 230, 1) 0%, rgba(255, 255, 255, 0) 100%);
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
        @media (max-width: 991px) {
            height: 150px;
        }
    }
    
    .form-wrap {
        // background-color: rgba(white,0.9);
        background: linear-gradient(180deg, rgb(255, 255, 255,0.9) 50%, rgba(255, 255, 255, 0) 100%);
      
        @media (min-width:992px) {
            padding: 6vw 15.5vw;
        }
        @media (max-width:991px) {
            padding: 30px 50px;
        }
        @media (max-width:767px){
            padding: 20px;
        }
    }
    form{
        margin-bottom: 60px;
        @media (max-width:767px){
          margin-bottom: 30px;
        }
    }
    .form-group {
        display: flex;
        align-items: baseline;
        margin-bottom: 50px;
        @media (max-width:767px){
            flex-direction: column;
            margin-bottom: 20px;
        }
        &.req {
            position: relative;
            &::before {
                content: "*";
                color: $brown4;
                position: absolute;
                left: -12px;
                top: 18px;
            }
        }
        label {
            @include font-size(pxToEm(18), pxToEm(20));
            min-width: 80px;
        }
        .input-wrap {
            width: 95%;
        }
        input {
            font-family: "Noto Sans TC", sans-serif;
            @include font-size(pxToEm(16), pxToEm(18));
            border-radius: 0;
            border: none;
            border-bottom: 1px solid $brown1;
            width: 100%;
            padding: 15px 0;
            background-color: transparent;
            &::placeholder {
                font-family: "Noto Sans TC", sans-serif;
                @include font-size(pxToEm(16), pxToEm(18));
                color: #a8a8a8;
            }
        }
        small {
            font-family: "Noto Sans TC", sans-serif;
            display: block;
            font-size: pxToEm(12);
            color: #dd0000;
            line-height: 12px;
            margin-top: 10px;
        }
    }
    .button-wrap {
        text-align: center;
    }
    .submit-btn {
        appearance: none;
        align-items: center;
        appearance: none;
        background-color: $brown1;
        border-radius: 100px;
        border-width: 0;
        box-shadow: none;
        box-sizing: border-box;
        color: #ffffff;
        cursor: pointer;
        display: inline-flex;
        justify-content: center;
        padding: 12px 25px;
        position: relative;
        text-align: center;
        text-decoration: none;
        transition: background-color 0.4s ease;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        vertical-align: top;
        white-space: nowrap;
        font-size: pxToEm(20);
        min-width: 150px;
        &:active,
        :focus {
            outline: none;
        }
        &:hover {
            @media (min-width: 768px) {
                background-color: $brown4;
            }
        }
        @media (max-width:767px){
            font-size: pxToEm(18);
            min-width: 100px;
            padding: 6px 20px;
          }
    }
    .other-page{
        color: #a8a8a8;
        border-top: 1px solid #a8a8a8;
        display: flex;
        justify-content: center;
        padding-top: 10px;
        a:hover{
            @media (min-width:768px) {
                color: $brown1;
            }
        }
        a:first-child{
            margin-right: 60px;
        }
    }
}
