.banner-section {
    position: relative;
    .bg {
        width: 100%;
        height: 100%;
        background: url(~@/assets/images/service_bg.jpg) center/cover no-repeat;
        position: absolute;
        top: 0;
        left: 0;
    }
    .container {
        position: relative;
        padding-top: $headH-pc;
        @media (max-width: 991px) {
            padding-top: $headH-mo + 20px;
        }
    }
    .section-title {
        justify-content: center;
        margin-top: 3.5vw;
        margin-bottom: 7vw;
    }
    .page-bg {
        width: 100%;
        height: 0;
        padding-bottom: 26%;
        // background: url(~@/assets/images/service_facial.jpg) center/cover no-repeat;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}
.sercive-section {
    padding-bottom: 150px;
    position: relative;
    @media (max-width: 991px) {
        padding-bottom: 75px;
        background: linear-gradient(180deg, rgba(250, 245, 240, 1) 0%, rgba(255, 255, 255, 0) 100%);
    }
    &::after {
        content: "";
        width: 100%;
        height: 300px;
        background: linear-gradient(0deg, rgba(255, 251, 230, 1) 0%, rgba(255, 255, 255, 0) 100%);
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
        @media (max-width: 991px) {
            height: 150px;
        }
    }
    .wrap {
        @media (min-width: 992px) {
            background: linear-gradient(180deg, rgba(250, 245, 240, 1) 0%, rgba(255, 255, 255, 0) 100%);
            padding: 50px 4vw 0;
        }
        @media (max-width: 991px) {
            padding: 30px 0vw 0;
        }
    }
    .f30-25 {
        text-align: center;
        margin-bottom: 30px;
    }
    .diamond-line {
        width: 100%;
        height: 1px;
        background-color: $brown1;
        position: relative;
        margin: 0 auto;
        .diamond {
            width: 30px;
            height: 11px;
            background: url(~@/assets/images/diamond.png) center/contain no-repeat;
            background-color: $brown3;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
    .list-wrap {
        display: flex;
        align-items: center;
        padding: 55px 1.5vw;
        border-bottom: 1px solid $brown1;
        @media (max-width: 1024px) {
            flex-direction: column;
        }
        @media (max-width: 991px) {
            padding: 30px 1.5vw;
        }
        .list-title {
            @media (min-width: 1025px) {
                width: 22%;
            }
            @media (max-width: 1024px) {
                margin-bottom: 30px;
            }
            span {
                display: inline-block;
                background-color: $brown1;
                color: white;
                padding: 12px 25px;
                border-radius: 50px;

                @media (max-width: 1024px) {
                    padding: 6px 20px;
                }
            }
        }
        ul {
            font-family: "Noto Sans TC", sans-serif;
            @media (min-width: 1025px) {
                width: 78%;
                margin-left: auto;
            }
            @media (max-width: 1024px) {
                width: 100%;
            }
        }
        li {
            &:not(:last-child) {
                margin-bottom: 30px;
            }
            a {
                display: flex;
                align-items: baseline;
                flex-wrap: wrap;
                @media (max-width: 991px) {
                    justify-content: space-between;
                }
            }
        }
        li:hover {
            @media (min-width: 768px) {
                .course {
                    &__name,
                    &__duration,
                    &__price,
                    &__link {
                        color: $brown4;
                    }
                    &__link {
                        span {
                            background-color: $brown4;
                        }
                    }
                }
            }
        }
        .course {
            &__name {
                width: 40%;
                display: flex;
                align-items: center;
                &::before {
                    content: "";
                    width: 17px;
                    height: 17px;
                    background: url(~@/assets/images/diamond_l.png) center/contain no-repeat;
                    margin-right: 10px;
                }
                @media (max-width: 991px) {
                    width: 100%;
                    margin-bottom: 10px;
                }
            }
            &__duration {
                color: black;
                @media (min-width: 992px) {
                    text-align: center;
                    width: 20%;
                }
                @media (max-width: 991px) {
                    width: 30%;
                    margin-left: 27px;
                }
            }
            &__price {
                color: black;
                font-weight: 500;
                @media (min-width: 992px) {
                    text-align: center;
                    width: 21%;
                }
                @media (max-width: 991px) {
                    width: 30%;
                }
            }
            &__link {
                @media (min-width: 992px) {
                    width: 19%;
                    text-align: center;
                }
                @media (max-width: 991px) {
                    width: 30%;
                }
                span {
                    display: inline-block;
                    color: white;
                    background-color: #c8c8c8;
                    border-radius: 5px;
                    padding: 2px 8px;
                    @media (max-width: 991px) {
                        font-size: pxToEm(14);
                    }
                }
            }
            &__name,
            &__duration,
            &__price,
            &__link,
            &__link span {
                transition: 0.4s ease;
            }
        }
    }
}
